@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  @apply shadow-md;
}

.flex-between {
  @apply flex items-center justify-between;
}

.bg-md-gradient-primary {
  @apply bg-gradient-to-r from-primary-left to-primary-right;
}

.bg-md-gradient-danger {
  @apply bg-gradient-to-r from-danger-left to-danger-right;
}

.text-md-border {
  -webkit-text-stroke: 3px black;
  text-shadow: 1px 1px 0px #3d3d3d;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  paint-order: stroke fill;
}

.btn-md-primary {
  @apply text-md-border bg-md-gradient-primary font-chela text-white text-lg text-center w-full rounded-lg border-2 border-black shadow-2xl;
  @apply flex items-center justify-center gap-2;
  @apply disabled:grayscale disabled:cursor-not-allowed;
}

.btn-md-danger {
  @apply text-md-border bg-md-gradient-danger font-chela text-white text-lg text-center py-1 w-full rounded-lg border-2 border-black shadow-2xl;
  @apply flex items-center justify-center gap-2;
  @apply disabled:grayscale disabled:cursor-not-allowed;
}

.text-symbol {
  @apply font-semibold text-sm font-roboto;
}

.short-range-item {
  @apply flex-between bg-white border-2 border-black rounded-lg w-full px-4 py-1 mb-2 font-medium;
}

.SelectTrigger {
  @apply flex-between px-4 py-1 outline-none;
  @apply bg-cyan border-2 border-black text-xl font-roboto rounded-lg w-[160px] font-medium;
}

.SelectContent {
  @apply bg-cyan border-2 border-black rounded-lg p-2;
}

.SelectItem {
  @apply text-lg font-semibold cursor-pointer flex ;

}
.SelectItem[data-highlighted] {
  @apply bg-cyan;
  outline: none;
  color: #000000;
}

.text-md-gradient {
  background: linear-gradient(0deg, #20BF55, #20BF55);
}

.input-md-wrapper {
  @apply border-2 border-black rounded-lg px-3 py-[6px] flex items-center;
}

.input-md-wrapper input {
  @apply bg-transparent outline-none appearance-none w-full;
}
