@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  @apply shadow-md;
}

.flex-between {
  @apply flex items-center justify-between;
}

.bg-md-gradient-primary {
  @apply bg-gradient-to-r from-primary-left to-primary-right;
}

.bg-md-gradient-danger {
  @apply bg-gradient-to-r from-danger-left to-danger-right;
}

.text-md-border {
  -webkit-text-stroke: 3px black;
  text-shadow: 1px 1px 0px #3d3d3d;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  paint-order: stroke fill;
}

.btn-md-primary {
  @apply text-md-border bg-md-gradient-primary font-chela text-white text-lg text-center w-full rounded-lg border-2 border-black shadow-2xl;
  @apply flex items-center justify-center gap-2;
  @apply disabled:grayscale disabled:cursor-not-allowed;
}

.btn-md-danger {
  @apply text-md-border bg-md-gradient-danger font-chela text-white text-lg text-center py-1 w-full rounded-lg border-2 border-black shadow-2xl;
  @apply flex items-center justify-center gap-2;
  @apply disabled:grayscale disabled:cursor-not-allowed;
}

.text-symbol {
  @apply font-semibold text-sm font-roboto;
}

.short-range-item {
  @apply flex-between bg-white border-2 border-black rounded-xl w-full px-4 py-[6px] mb-3 font-medium text-lg;
}

.short-range-item.active {
  @apply py-3;
  box-shadow: 0 4px 4px #000000;
}

.SelectTrigger {
  @apply flex-between px-4 py-1 outline-none;
  @apply bg-cyan border-2 border-black text-xl font-roboto rounded-lg w-[160px] font-medium;
}

.SelectContent {
  @apply bg-cyan border-2 border-black rounded-lg p-2;
}

.SelectItem {
  @apply text-lg font-semibold cursor-pointer flex ;

}
.SelectItem[data-highlighted] {
  @apply bg-cyan;
  outline: none;
  color: #000000;
}

.text-md-gradient {
  background: linear-gradient(0deg, #20BF55, #20BF55);
}

.input-md-wrapper {
  @apply border-2 border-black rounded-lg px-3 py-[6px] flex items-center;
}

.input-md-wrapper input {
  @apply bg-transparent outline-none appearance-none w-full;
}

.drop-md-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.DialogOverlay {
  @apply fixed inset-0 bg-black bg-opacity-40;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  @apply bg-cyan rounded-xl border-2 border-black drop-shadow-md fixed top-1/2 left-1/2 px-8 py-6 w-[570px] max-w-full;
  transform: translate(-50%, -50%);
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 100px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  @apply py-2 px-4 border-b-2 border-b-black cursor-pointer text-lg;
}

.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  pointer-events: none;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
